/*
 ------------------------[Apartado de curso] ----------------------------
*/
.search-curso{
    padding: 3rem;
    // background: #F0F4F8;
    display: flex;

    //seccion de formualrio de busqueda y otros elementos para buscar el curso
    .section-search{
        width: 25% ;
        display: flex;
        flex-direction: column;

       .header-search{
        background: #00F2A6;
        padding: 20px;
        color: white;
       }
        .button-tecnology{
            border: none;
            background: white;
            padding: 0.4rem 1.5rem;
            -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.39);
            -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.39);
            box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.39);
            border-radius: 5px;
            cursor: pointer;
            margin: .5rem 0rem .5rem 0;
            
        }
        .button-search-curso{
            border: none;
            background: #FF7D36;
            padding: 0.4rem 1.5rem;
            -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.39);
            -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.39);
            box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.39);
            border-radius: 5px;
            cursor: pointer;
            margin: .5rem 0rem .5rem 0;
            color: white;
        }
    }
     //seccion donde se muestra los curso encontrados
    .section-result-cursos{
        width: 75%;
        padding: 0 2.5rem;
    }
   
}

//cards para mostrar los cursos
.content-card-result{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: center;

}
.card-curso-result{
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem 0rem 0rem ;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.39);
    border-radius: 15px;
    width: 45%;
    .header-curso-result{
        width: 40%;
        background: #1d3557 ;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        img{
            width: 90%;
            object-fit: cover;
            object-position: center;
        }
        
    }
    .body-curso-result{
       display: flex;
       flex-direction: column;
       padding: 1rem 1rem; 
       width: 90%;
    //    background: #ccc;
       img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
        border: 3px solid #c4c4c4;
        margin: 10px 0;
       }
       button{
           text-align: center;
           padding: 0.4rem 1.5rem;
           background: #1d3557;  
           color: white;
       }
       button:hover{
            background: #274875;  
          
       }
    }      
}

/*
 ------------------------[Fin apartado de curso] ----------------------------
*/

/*
 ------------------------[Apartado de pago] ----------------------------
*/
.content-purchase{
    padding: 3rem;
    display: flex;
    .content-section-pay{
        width: 40%;
        display: flex;
        flex-direction: column;
        .credit-card{
            padding: 10px;
            -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.39);
            -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.39);
            box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.39);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            
        }
        .detailPedido {
            width: 100%;
            .content-detail{
                padding: 20px;
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                img{
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    object-position: center;
                }
            }    
        }
    }
    .resumen-pago{
        width: 60%;
        margin: 2.5rem;
        .content-resumen{
            display: flex;
            flex-direction: column;
            padding: 20px;
            -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.39);
            -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.39);
            box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.39);
            border-radius: 10px;
            .descripcion-precio{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 20px;
            }
            .button-pay{
                margin-top: 1rem;
                border:none;
                color: white;
                background: #f87c4b;
                padding: .8rem 3.5rem ;
                cursor: pointer;
                border-radius: 5px;
            }
        }
    }
}

/*
 ------------------------[Fin apartado de pago] ----------------------------
*/